<!DOCTYPE html>
<html lang="en" ng-app="app">
	
  <% include partials/header %>

	<body>
		<div class="container">
			
      <% include partials/navbar %>

			<table id="statusTable" class="table table-striped table-hover" ng-controller="nodeCtrl">

				<tr ng-repeat="node in nodeList">
					<td>{{ node.name }}</td>
					<td ng-if="node.status == 'ok'">
            <img src="public/img/ok-18.png" alt="ok">
          </td>
          <td ng-if="node.status == 'warning'">
            <img src="public/img/warning-16.png" alt="warning">
          </td>
          <td ng-if="node.status == 'error'">
            <img src="public/img/error-16.png" alt="error">
          </td>
				</tr>
			</table>

			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Slice stats</h3>
						</div>
						<div class="panel-body">
							<p>15 nodes connected<p>
							<p>Some statistic X about the slice</p>
							<p>Another statistic Y</p>
							<p>Bandwidth</p>
							<p>Slice resource comsumption</p>
						</div>
					</div>
				</div>
				<div class="col-md-8">
				</div>
			</div>
		</div>

		
    <% include partials/scripts %>

		<script>
			var socket = io();
			socket.on('nodenamechange', function(events) {
				var scope = angular.element($('#statusTable')).scope();
				scope.$apply(function() {
					scope.nodeList = events;
				});
			});
			var test = <%- JSON.stringify(nodes) %>;

			var app = angular.module('app', []);
			app.controller('nodeCtrl', function($scope, $log) {
				$scope.nodeList = <%- JSON.stringify(nodes) %>;
				
			});
		</script>
	</body>
</html>
