<!DOCTYPE html>
<html lang="en" ng-app="app">
  
  <% include partials/header %>

  <body>
    <div class="container">
      
      <% include partials/navbar %>
      
      <h2>Team</h2>
      <p>This project is part of the Design of Distributed Software Applications course offered by the Electrical and Computer Engineering departent at the University of British Columbia Vancouver.</p>

      <p>Our team consists of <a href="https://github.com/isha">isha</a>, <a href="https://github.com/adamjberg">adam</a>, <a href="https://github.com/Danny417">danny</a> and <a href="https://github.com/Ehsan70">ehsan</a>.</p>

    </div>

    <% include partials/scripts %>
  </body>
</html>
