{
  "option_settings": [
	{
      "option_name": "AWS_SECRET_KEY",
      "value": "RK0LPYnVskqTE0LGu0kzVzfJinzRFGdcAVJn7M/e"
    },
	{
      "option_name": "AWS_ACCESS_KEY_ID",
      "value": "AKIAI2ZNQYGJOZPSKYCQ"
    },
    {
      "option_name": "/public",
      "namespace": "aws:elasticbeanstalk:container:nodejs:staticfiles",
      "value": "/public"
    },
    {
      "option_name": "NODE_ENV",
      "value": "production"
    }
  ]
}